<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../static/css/about_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <a href="./index.html" class="flex">
		    <img src="../static/assets/icons/logo.png">
		    <div class="cp-name">DPhi</div>
        </a>
	</header>
    <div class="title-container">
        <div class="title">
            <h4><i class="fa fa-clock-o icon"></i>Starts on 17th jun'22 09:00 PM (Indian Standard Time)</h4>
            <h1>Data Sprint 72 - Buterfly Identification</h1>
            <p>Identify the class to which each butterfly belogns to</p>
            <button><img src="../static/assets/icons/carbon_skill-level-basic.svg"><span>Easy</span></button>
        </div>
    </div>

    <div class="controls flex">
        <h4>Overview</h4>
        <div class="control-buttons">
            <a href="./admin.html"><button>Edit</button></a>
            <button>Delete</button>
        </div>
    </div>
    <div class="discription-container">
        <p>Butterflies are the adult flying stage of certain insects belonging to an order or group called Lepidoptera. The
            word "Lepidoptera” means “scaly wings” in Greek. This name perfectly suits the insects in this group because
            their wings are covered with thousands of tiny scales overlapping in rows.
        </p>

        <p>An agency of the Governmental Wildlife Conservation is planning to implement an automated system based
            on computer vision so that it can identify butterflies based on captured images. As a consultant for this
            project, you are responsible for developing an efficient model.
        </p>

        <p>Your Task is to build an Image Classification Model using CNN that classifies to which class of weather each
            image belongs to.
        </p>
    </div>
</body>
</html>
